body {
    font-family: Roboto;
   
}


#banner{
    width:100%;
    height: 320px;
    object-fit: cover;
}


.bodytext{
    color: rgb(80, 80, 80);

    max-width: 800px;
    margin: 0 auto;
}
#container{
margin: 0 auto;
max-width: 750px;
}
